{% extends 'base.html.twig' %}

{% block title %}Mon panier - Ma Boutique{% endblock %}

{% block content %}

    <h1>Mon panier</h1>
    <p>Retrouver l'ensemble des produits que vous avez ajouté à votre panier.</p>

    {% if cart|length > 0 %}

        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Nom</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <!-- Déclaration d'une nouvelle variable Twig pour calculer le prix total d'un panier --->
            {% set total = null %}

            {% for product in cart %}
                <tr>
                    <!-- Le nom 'product' représente la clé --->
                    <th>
                        <img src="{{ product.product.illustration }}"
                             alt="{{ product.product.name }}" height="50px"> <br/>
                    </th>
                    <td>
                        {{ product.product.name }} <br/>
                        <small>{{ product.product.subtitle }}</small>
                    </td>
                    <td>
                        <a href="{{ path('decrease_to_cart', { 'id' : product.product.id}) }}">
                            <img src="{{ asset('assets/images/remove.png') }}" height="12px" alt="Retirer une quantité à mon produit">
                        </a>
                        {{ product.quantity }}
                        <a href="{{ path('add_to_cart', { 'id' : product.product.id}) }}">
                            <img src="{{ asset('assets/images/plus.png') }}" height="12px" alt="Ajouté une quantité à mon produit">
                        </a>
                    </td>
                    <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
                    <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }} €</td>
                    <td>
                        <!-- Paramètre du produit = son id --->
                        <a href="{{ path('delete_to_cart', {'id' : product.product.id}) }}">
                            <img src="{{ asset('assets/images/delete.png') }}" height="20px"
                                 alt="Supprimer mon produit">
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}

            {% endfor %}

            </tbody>
        </table>

        <div class="text-right mb-5 ">
            <!-- Affichage total du nombre de produits --->
            <b>Nombre de produits : </b> {{ cart|length }} <br/>
            <b>Total de mon panier : </b> {{ (total / 100)|number_format(2, ',', '.') }} € <br/>
            <a href="{{ path('order') }}" class="btn btn-primary mt-3">Valider mon panier</a>
        </div>

    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}

{% endblock %}
